Repository jupyter-server/enterprise_gateway, pull requests merged in 2023-03, with the labels that each got.

#1263 decouple image name fetching from image puller
  docs/source/operators/deploy-kubernetes.md
  etc/docker/kernel-image-puller/Dockerfile
  etc/docker/kernel-image-puller/README.md
  etc/docker/kernel-image-puller/image_fetcher.py
  etc/docker/kernel-image-puller/kernel_image_puller.py
  etc/kubernetes/helm/enterprise-gateway/templates/daemonset.yaml
  etc/kubernetes/helm/enterprise-gateway/values.yaml
  pyproject.toml
Labels: enhancement, kubernetes

#1265 Set language and fix conda env link
  docs/source/conf.py
  docs/source/contributors/devinstall.md
Labels: documentation, maintenance

#1268 Reset SPARK_VERSION to 3.2.1
  Makefile
Labels: bug

#1269 Set restart strategy to never for spark operator
  etc/kernel-launchers/kubernetes/scripts/kernel-pod.yaml.j2
  etc/kernel-launchers/operators/scripts/sparkoperator.k8s.io-v1beta2.yaml.j2
Labels: bug, kubernetes, Spark, gateway-provisioners

#1271 Properly propagate errors on Spark Operator CRD failures
  enterprise_gateway/services/processproxies/container.py
  enterprise_gateway/services/processproxies/crd.py
  enterprise_gateway/services/processproxies/docker_swarm.py
  enterprise_gateway/services/processproxies/k8s.py
Labels: bug, kubernetes, spark, gateway-provisioners

#1279 Filter sensitive values from being logged in ProcessProxy
  docs/source/operators/config-add-env.md
  enterprise_gateway/services/processproxies/processproxy.py
Labels: enhancement, security, gateway-provisioners

#1281 Move shutdown kernel code to be within KernelClient
  enterprise_gateway/client/gateway_client.py
Labels: enhancement
